CTBC.CSFS/Web References/CSFSURL/attDownload.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UrlDownloadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AttachmentServerPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UrlDownloadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UrlDownloadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UrlDownloadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UrlDownloadFile" />
  </wsdl:message>
  <wsdl:message name="UrlDownloadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UrlDownloadFileResponse" />
  </wsdl:message>
  <wsdl:message name="UrlDownloadFileHttpGetIn">
    <wsdl:part name="AttachmentServerPath" type="s:string" />
    <wsdl:part name="FName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UrlDownloadFileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UrlDownloadFileHttpPostIn">
    <wsdl:part name="AttachmentServerPath" type="s:string" />
    <wsdl:part name="FName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UrlDownloadFileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="attDownloadSoap">
    <wsdl:operation name="UrlDownloadFile">
      <wsdl:input message="tns:UrlDownloadFileSoapIn" />
      <wsdl:output message="tns:UrlDownloadFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="attDownloadHttpGet">
    <wsdl:operation name="UrlDownloadFile">
      <wsdl:input message="tns:UrlDownloadFileHttpGetIn" />
      <wsdl:output message="tns:UrlDownloadFileHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="attDownloadHttpPost">
    <wsdl:operation name="UrlDownloadFile">
      <wsdl:input message="tns:UrlDownloadFileHttpPostIn" />
      <wsdl:output message="tns:UrlDownloadFileHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="attDownloadSoap" type="tns:attDownloadSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UrlDownloadFile">
      <soap:operation soapAction="http://tempuri.org/UrlDownloadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="attDownloadSoap12" type="tns:attDownloadSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UrlDownloadFile">
      <soap12:operation soapAction="http://tempuri.org/UrlDownloadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="attDownloadHttpGet" type="tns:attDownloadHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="UrlDownloadFile">
      <http:operation location="/UrlDownloadFile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="attDownloadHttpPost" type="tns:attDownloadHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="UrlDownloadFile">
      <http:operation location="/UrlDownloadFile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="attDownload">
    <wsdl:port name="attDownloadSoap" binding="tns:attDownloadSoap">
      <soap:address location="http://localhost:35947/attDownload.asmx" />
    </wsdl:port>
    <wsdl:port name="attDownloadSoap12" binding="tns:attDownloadSoap12">
      <soap12:address location="http://localhost:35947/attDownload.asmx" />
    </wsdl:port>
    <wsdl:port name="attDownloadHttpGet" binding="tns:attDownloadHttpGet">
      <http:address location="http://localhost:35947/attDownload.asmx" />
    </wsdl:port>
    <wsdl:port name="attDownloadHttpPost" binding="tns:attDownloadHttpPost">
      <http:address location="http://localhost:35947/attDownload.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>